@font-face {
    font-family: police;
    src: url('../fonts/Allan-Regular.ttf');
    
}body {
    margin: 0;
    font-family: 'police';
    font-size: xx-large;
    background: linear-gradient(to bottom right, blue, white);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar ul {
    position: fixed;
    width: 100%;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-item a:hover {
    background-color: darkgrey;
}
.active {
    background-color: darkblue;
}
.container {
    display: block;
    margin: 65px;
}
.footer {
    background-color: cadetblue;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
}